* {
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #35654d;
    color: white;
    font-family: Abel;
}
#title {
    text-align: center;
    margin: 10px 0px;
    font-family: Secular One;
    font-size: 20px;
}
#bannerBoxes {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 24px;
}
#upperGameBody {
    display: flex;
    border-bottom: 1px solid darkgoldenrod;
    border-top: 1px solid darkgoldenrod;
    padding: 30px;
    margin-top: 30px;
}
#playerControls {
    width: 60%;
    margin: 15px auto;
    text-align: center;
    text-transform: uppercase;
    
}
#controlsTitle {
    text-align: center;
}
#controlButtons {
    display: flex;
    justify-content: space-between;
}
#rulesBox {
    width: 320px;
    margin: 0 auto;
    height: 200px;
    font-size: 20px;
}
#ruleTitle {
    font-size: 20px;
}
#reshuffleButton, #drawButton, #holdButton {
    display: inline;
    width: 33%;
    height: 40px;
    margin: 5px;
    font-weight: bold;
    border-radius: 10px;
    font-family: bebas neue;
    font-size: medium;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 0px 10px;
}
#drawButton, #holdButton {
    visibility: hidden;
}
#prizeBoxTitle, #prizeBox {
    display: none;
}
#prizeBox {
    border: 5px solid white;
    padding: 5px;
    margin-top: 10px;
    color: yellow;
}
.messageBox, .cardTotalTitle, .cardTotal, .cardContainer, #controlsTitle  {
    padding: 5px;
    font-weight:bolder;
}
#computerContainer, #humanContainer {
    width: 50%;
    min-height: 230px;
    margin: 30px auto;
    text-align: center;
    text-transform: uppercase;
}
.cardTotal {
    font-size: xx-large;
}
button {
    cursor: pointer;
}
button:hover {
    background-color: lightgray;
}
button:active {
    background-color: lightgoldenrodyellow;
}
/* TODO: add mobile options