* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(4, 24, 10);
    font-family: Abel;
    margin: auto;
    border: 1px solid black
}
#gameBody{
    color: white;
    width: 95%;
    margin: 20px auto;
    background-color: #35654d;
    border-radius: 10px;
    padding: 5px;
}
#title {
    text-align: center;
    font-family: Secular One;
    font-size: 20px;
    color: white;
    background-color: rgb(99, 122, 99);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#bannerBoxes {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 24px;
}
#globalMessageBox {
    display: flex;
    color: black;
    height: 62px;
    background-color: rgb(247, 238, 223);
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-weight:600;
}
#scoreBox {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
#upperGameBody {
    display: flex;
    border-bottom: 1px solid burlywood;
    border-top: 1px solid burlywood;
    padding: 10px;
    margin-top: 30px;
}
#playerControls {
    width: 80%;
    margin: 15px auto;
    text-align: center;
    text-transform: uppercase;

}
#controlsTitle {
    text-align: center;
}
#controlButtons {
    display: flex;
    justify-content: space-between;
    
}
#rulesBox {
    width: 320px;
    margin: 0 auto;
    height: 200px;
    font-size: 20px;
    color: white;
}
#ruleTitle {
    font-size: 16px;
    text-transform: uppercase;
    font-weight:bolder;
}
#reshuffleButton, #drawButton, #holdButton {
    display: inline;
    width: 33%;
    height: 40px;
    margin: 5px;
    font-weight: bold;
    border-radius: 10px;
    font-family: bebas neue;
    font-size: medium;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 0px 10px;
    color: black;
}
.messageBox, .cardTotalTitle, .cardTotal, .cardContainer, #controlsTitle {
    padding: 5px;
    font-weight:bolder;
}
#computerContainer, #humanContainer {
    width: 50%;
    min-height: 230px;
    text-align: center;
    text-transform: uppercase;
}
.cardContainer {
    display: flex;
    justify-content: center;
    height: 125px;
    margin: 5px;
}
.cardTotal {
    font-size: xx-large;
}
button {
    cursor: pointer;
}

button:active {
    background-color: lightgoldenrodyellow;
}
#prizeBox {
    border: 5px solid white;
    padding: 20px;
    background-color: #f44336;
    border-radius: 10px;
    color: white;
    display: none;
    position:fixed;
    opacity: .9;
    transition: opacity 0.6s;
    width: 75%;
    justify-content: space-between;    
}

#closeBox {
    /* text-align: right; */
    /* background-color: black; */
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 10%;
    margin: auto;
    margin-top: 15px;

}

.cardContainer {
    display: flex;
}
#ruleTitle {
    text-align: center;
}
#lowerGameBody{
    background-color: rgb(99, 122, 99);
    padding: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#pbAlign{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 580px) {
    .cardContainer {
        display: flex;
        width: 90%;
    }
    .container {
        flex: 1 0 0;
        overflow-x: hidden;
    }
    .container:last-child {
        flex: 0 0 auto;
    }
    img {
        margin-left: 0px;
    }
    #globalMessageBox {
        height: 80px;
    }

}