* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}
body {
    background-color: #35654d;
    color: white;
    font-family: Abel;
}
#title {
    text-align: center;
    margin: 10px 0px;
    font-family: Secular One;
    font-size: 20px;
}
#bannerBoxes {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 24px;
}
#scoreBox {
    display: flex;
    justify-content: space-between;
}
#upperGameBody {
    display: flex;
    border-bottom: 1px solid darkgoldenrod;
    border-top: 1px solid darkgoldenrod;
    padding: 10px;
    margin-top: 30px;
}
#playerControls {
    width: 80%;
    margin: 15px auto;
    text-align: center;
    text-transform: uppercase;

}
#controlsTitle {
    text-align: center;
}
#controlButtons {
    display: flex;
    justify-content: space-between;
}
#rulesBox {
    width: 320px;
    margin: 0 auto;
    height: 200px;
    font-size: 20px;
}
#ruleTitle {
    font-size: 16px;
    text-transform: uppercase;
    font-weight:bolder;
}
#reshuffleButton, #drawButton, #holdButton {
    display: inline;
    width: 33%;
    height: 40px;
    margin: 5px;
    font-weight: bold;
    border-radius: 10px;
    font-family: bebas neue;
    font-size: medium;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 0px 10px;
}
#drawButton, #holdButton {
    visibility: hidden;
}
#prizeBoxTitle, #prizeBox {
    display: none;
}
.messageBox, .cardTotalTitle, .cardTotal, .cardContainer, #controlsTitle {
    padding: 5px;
    font-weight:bolder;
}
#computerContainer, #humanContainer {
    width: 50%;
    min-height: 230px;
    text-align: center;
    text-transform: uppercase;
}
.cards {
    display: flex;
    justify-content: center;
    height: 125px;
}
.cardTotal {
    font-size: xx-large;
}
button {
    cursor: pointer;
}
button:hover {
    background-color: lightgray;
}
button:active {
    background-color: lightgoldenrodyellow;
}
#prizeBox {
    border: 5px solid white;
    padding: 20px;
    background-color: #f44336;
    border-radius: 10px;
    color: white;
    display: none;
    position: fixed;
    opacity: .9;
    transition: opacity 0.6s;
    width: 90%;
    margin: 0 auto;
}

.cardContainer {
    display: flex;
}

img {
    margin-left: 2px;
}
#ruleTitle {
    text-align: center;
}

@media only screen and (max-width: 580px) {
    .cardContainer {
        display: flex;
        width: 90%;
    }
    .container {
        flex: 1 0 0;
        overflow-x: hidden;
    }
    .container:last-child {
        flex: 0 0 auto;
    }
    img {
        margin-left: 0px;
    }
    #messageBox {
        height: 80px;
    }
}